<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Autentificando</servlet-name>
        <servlet-class>com.utec.voting.controller.Autentificando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.utec.voting.controller.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPartido</servlet-name>
        <servlet-class>com.utec.voting.controller.PartidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebService</servlet-name>
        <servlet-class>com.utec.voting.controller.WebService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDepartamento</servlet-name>
        <servlet-class>com.utec.voting.controller.DepartamentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autentificando</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/LogOut.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebService</servlet-name>
        <url-pattern>/WebService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDepartamento</servlet-name>
        <url-pattern>/ControladorDepartamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPartido</servlet-name>
        <url-pattern>/ControladorPartido.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
